{provider_hooks,[{pre,[{compile,{pc,compile}},{clean,{pc,clean}}]}]}.
{plugins,[{pc,"~> 1.15"}]}.
{deps,[]}.
{port_env,[{"LDFLAGS","$LDFLAGS $ERL_LDFLAGS  "},
           {"CFLAGS","$CFLAGS -g -O2 -Wall"},
           {"ERL_LDFLAGS"," -L$ERL_EI_LIBDIR -lei"}]}.
{erl_opts,[debug_info,{src_dirs,["src"]}]}.
{port_specs,[{"priv/lib/iconv.so",["c_src/iconv.c"]}]}.
{clean_files,["c_src/iconv.gcda","c_src/iconv.gcno"]}.
{cover_enabled,true}.
{cover_export_enabled,true}.
{coveralls_coverdata,"_build/test/cover/eunit.coverdata"}.
{coveralls_service_name,"github"}.
{xref_checks,[undefined_function_calls,undefined_functions,
              deprecated_function_calls,deprecated_functions]}.
{overrides,[]}.
